.day {
    background-color: white;
    
}

.night {
    background-color: black;
}

.button_day {
    background-color: white;
}

.button_night {
    background-color: black;
}

#useless-paragraph {
    visibility: hidden
 }

 .counterContainer {
    display: flex
}