body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.calci-container {
    background: #22252d;
    height: 60%;
    width: 18%;
    min-height: 667px;
    min-width: 375px;
    border-radius: 24px;
    overflow: hidden;
}

.output-container {
    /* height: 80%; */
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 16px;
    height: 82%;
}

.display-container {
    height: 40%;
}

.switch-container {
    /* height: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.switch {
    background: #292d36;
    border-radius: 16px;
    padding: 8px 16px;
}

.keypad-container {
    height: 60%;
    background: #292d36;
    border-radius: 24px;
}

.day {
    margin-right: 8px;
}

.night {
    margin-left: 8px;
    color: #d0d0d2;
}

.result {
    font-size: 64px;
}

.operation {
    color: #c8c8ca;
    font-size: 36px;
}

.operand {
    color: #7d4a4f;
}

.action-key {
    color: #26ae98;
}

.num-key {
    color: #ffffff;
}

.key {
    margin-block: initial;
    font-size: 20px;
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #272b33;
    margin: 3px;
    width: 50px;
    height: 50px;
    border-radius: 16px;
    font-weight: 800;
    cursor: pointer;
}

#keypad-table-container {
    width: 100%;
    border-spacing: 16px;
}
